<form>
    <fieldset>
        <legend>寄存位查询</legend>                          
       <div class="conta">
          <p>选择寄存厅</p>
          <p>选择寄存室</p>
          <p>选择寄存层</p>
          <p>寄存位样式</p>
       
         
       </div>
       <div class="contb">
           <select>
                <option></option>
            </select>
            <select>
                <option></option>
            </select>
            <select>
                <option></option>
            </select>
            <select>
                <option></option>
            </select>
            
            <div class="contc">显示全部已订购寄存位</div>
            <div class="contc">退出</div>
       </div>
    </fieldset>
    
</form>