<form>
                        <fieldset>
                            <legend>提醒范围条件</legend>
                            <div class="lxd">
                                <p>提醒范围选择：</p>
                                <div class="lxa">
                                    <input type="radio" />一周内过期
                                </div>
                                <div class="lxa">
                                    <input type="radio" />一个月内过期
                                </div>
                                <div class="lxa">
                                    <input type="radio" />一个季度内过期
                                </div>  
                                <div class="lxa">
                                    <input type="radio" />已过期
                                </div>  
                            </div>
                            <div class="lxd">
                                <p>提醒范围填写：</p>
                                <div class="lxe">
                                    <input type="text" />天内过期
                                </div>
                                <div class="lxb">查询</div>
                               
                            </div>
                            <div class="lxd">
                                <p>查询结果数量：</p>
                                <i>0个</i>
                            </div>
                        </fieldset>
                        
                    </form>
                    <div class="conbiao">
                        <table class="table table-bordered">
                          <!--<caption>边框表格布局</caption>-->
                          <thead>
                            <tr>
                              <th>寄存位全称</th>
                              <th>定购状态</th>
                              <th>定购日期</th>
                              <th>使用开始日期</th>
                              <th>使用结束日期</th>
                              <th>实际寄存日期</th>
                              <th>年管理费</th>
                              <th>管理费缴纳年数</th>
                              <th>管理费缴纳总额</th>
                              <th>联系人姓名</th>
                              <th>故者关系名称</th>
                              <th>性别</th>
                              <th>联系电话</th>
                              <th>家庭住址</th>
                              <th>工作单位</th>
                              <th>业务员</th>
                              <th>备注</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>天福园</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              
                            
                            </tr>
                           
                           
                          </tbody>
                        </table>
                    </div>