<div class="mwshezhi">
     <div class="mwnav">
        <ul>
          <li ><a href="{:url('System/sysjc')}">寄存厅设置</a></li>
          <li><a href="{:url('System/sysjct')}">寄存室设置</a></li>
          <li><a href="{:url('System/sysjcc')}">寄存层设置</a></li>
          <li class="navon"><a href="{:url('System/sysjcw')}">寄存位设置</a></li>
        </ul>
      </div>
    <div class="mwmain">
      <div class="mwd">
                <div class="mwtx diffmwtx">
                  <form class="add_row" method="post" action="{:url('info_add')}">
                    <fieldset>
                      <legend>寄存位设置</legend>
                      <div class="mwtxle">
                        <div class="mwtxa">
                          <div class="mwtxaa">
                            <p>选择寄存厅</p>
                            <select name="sysid" class="cem_id" >
                            <option >请选择</option>
                            {foreach $sys_list as $k => $vo}
                                <option value="{$vo.id}">{$vo.title}</option>
                            {/foreach}
                          </select>
                          </div>
                          <div class="mwtxaa">
                            <p>选择寄存室</p>
                            <select name="sysid_s" class="cem_area_id" id="cem_area_id_s">
                                  <option >请选择</option>
                            </select>
                          </div>
                          <div class="mwtxaa">
                            <p>选择寄存层</p>
                            <select name="sysid_c" class="cem_area_id_c" id="cem_area_id_c">
                                  <option >请选择</option>
                            </select>
                          </div>
                          <button type="button" class="mwtxcontc show_all">显示全部</button>
                        </div>
                      </div>
                      <div class="mwtxri">
                        <div class="mwtxria">
                          <div class="mwtxriaa">
                            <input type="radio" name="type"  checked value="one" />单条处理                        
                          </div>
                          <div class="mwtxriab">
                            <input type="hidden" name="id" class="row_id" />
                            <input type="text"  name="title" class="thtitle"/>
                            <h1>寄存位号（数字）</h1>                     
                          </div>
                          <div class="mwtxriac">
                            <input type="radio" name="type"  value="many" />批量处理                        
                          </div>
                          <div class="mwtxriad">
                            <p>开始编号</p>
                            <input type="text" name="many_start" />
                          </div>
                          <div class="mwtxriad">
                            <p>寄存位数量</p>
                            <input type="text"  name="many_num" />
                          </div>
                        </div>
                        <div class="mwtxrib">
                          <div class="mwtxrible">
                            <div class="mwtxribtop">
                              <div class="mwtxribtople">
                                <div class="mwtxribtopa">
                                  <div class="mwtxribtopd">
                                    <p>寄存位样式</p>
                                    <select name="sysysid" class="sysysid">
                                      <option value="">请选择</option>
                                       {foreach $sysys as  $vo}
                                          <option value="{$vo.id}">{$vo.title}</option>
                                        {/foreach}
                                    </select>
                                  </div>
                                  <div class="mwtxribtopd">
                                    <p>寄存位状态</p>
                                    <select name="syszt" class="asdaasdas">
                                      <option value="1">空闲</option>
                                      <option value="2">已预订</option>
                                      <option value="3">已购买</option>
                                    </select>
                                  </div>
                                  <div class="mwtxribtopd">
                                    <p>寄存位价格</p>
                                    <input type="text"  name="money"  class="row_money"/>
                                  </div>
                                  
                                </div>
                                
                              </div>
                              
                            </div>
                            
                          </div>
                          <div class="mwtxribri">
                            <button type="button" url = "{:url('sysjcw_add')}"   class="sbmt mwtxribricontc">添加</button>
                            <button type="button"    class=" row_del mwtxribricontc">删除</button>
                            <button type="button" url = "{:url('sysjcw_edit')}"   class="sbmt mwtxribricontc">修改</button>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
                  <div class="mwtxbiao">
                    <table class="table table-bordered">                   
                    <thead>
                      <tr>
                        <th>寄存位名称</th>
                        <th>寄存厅名称</th>
                        <th>寄存室名称</th>
                        <th>寄存层名称</th>
                        <th>寄存位样式</th>
                        <th>寄存位状态</th>
                        <th>寄存位价格</th>
                        <th>操作时间</th>
                      </tr>
                    </thead>
                    <tbody class="wlist">
                      {foreach $sysjcw as $k=>$vo}
                        <tr class="tr_{$vo.id}" row_id = "{$vo.id}">

                          <td class="row_cem_id" val = "{$vo.title}"> {$vo['title']} </td>
                          <td class="row_cem_area_id" val = "{$vo.sysid}">{$sys_list[$vo['sysid']]['title']}  </td>
                          <td class="row_cem_row_ids" val = "{$vo.sysid_s}">{$sys_list_s[$vo['sysid_s']]['title']}  </td>
                          <td class="row_cem_row_id" val = "{$vo.sysid_c}">{$sysjcc[$vo['sysid_c']]['title']}  </td>
                          <td class="row_cem_row_idd" val = "{$vo.sysysid}">{$sysys[$vo['sysysid']]['title']}  </td>
                          <td class="row_cem_row_idwa" val = "{$vo.syszt}">
                            {if condition="$vo['syszt'] eq 1"}
                               空闲
                            {elseif condition="$vo['syszt'] eq 2" /} 
                               已预订
                            {elseif condition="$vo['syszt'] eq 3" /} 
                               已购买
                            {/if}
                          </td>
                          <td class="row_cem_row_idss" val = "{$vo.money}">{$vo['money']}</td>
                           <td class=""> {$vo.time|date='Y-m-d H:i:s',###}  </td>
                        </tr>
                        {/foreach}
                    </tbody>
                  </table>
                  </div>
              </div>
    </div>
  </div>
<script>
  $('.wlist tr').click(function(){
                $(".mwtx .cem_id").val($(this).find('.row_cem_area_id').attr('val'));
                $(".mwtx .thtitle").val($(this).find('.row_cem_id').attr('val'));
                $(".mwtx .sysysid").val($(this).find('.row_cem_row_idd').attr('val'));
                $(".mwtx .row_money").val($(this).find('.row_cem_row_idss').attr('val'));
                $(".mwtx .row_id").val($(this).attr('row_id'));
            });
        $('.show_all').click(function(){
            var cem_id = $('.add_row').find('.cem_id').val();
            var cem_area_id = $('.add_row').find('.cem_area_id').val();
            var cem_row_id = $('.add_row').find('.cem_area_id_c').val();

            window.location.href="{:url('/index/System/sysjcw/cem_id/"+cem_id+"/cem_area_id/"+cem_area_id+"/cem_row_id/"+cem_row_id+"')}";

        });
    </script>
<script type="text/javascript">
        $('.sbmt').click(function(){
            if ($(this).hasClass('del') && confirm('确认删除?'))  {
                $('.add_row').attr('action', $(this).attr('url')).submit();
            } else {
                $('.add_row').attr('action', $(this).attr('url')).submit();
            }

        });

        $('.row_del').click(function(){
          var row_id = $(".mwtx .row_id").val();
          if (row_id && confirm('确认删除?')) {
              $.ajax({
                  type        : 'GET',
                  url         : '{:url('sysjcw_del')}',
                  dataType    : 'json',
                  data        : {
                      id : row_id
                  },
                  success     : function(e){
                      if (e.status) {
                          $('.tr_' + row_id).remove();
                      } else {
                          alt(e.msg);
                      }


                  },
                  error       : function () {

                  },
              });
          }
      });
    function get_area (_this, _select_id) {
        // var _select_id = _select_id ? _select_id : 0;
        let cem_id = _this.val();
        let form = _this.parents('form');
        if (cem_id) {
            $.ajax({
                type        : 'GET',
                url         : '{:url('sysjcc_wlist')}',
                dataType    : 'json',
                data        : {
                    cem_id : cem_id
                },
                success     : function(e){
                    let html = '<option >请选择</option>';
                    for (i in e) {
                        html += '<option ';
                        if (_select_id == e[i]['id']) {
                            html += 'selected';
                        }
                        html += ' value="'+e[i]['id']+'">'+e[i]['title']+'</option>';
                    }
                    form.find('.cem_area_id').html(html);
                },
                error       : function () {

                },
            });
        }
    }
    function get_areas (_this, _select_id) {
        // var _select_id = _select_id ? _select_id : 0;
        let cem_id = _this.val();
        let form = _this.parents('form');
        if (cem_id) {
            $.ajax({
                type        : 'GET',
                url         : '{:url('sysjcw_wlist')}',
                dataType    : 'json',
                data        : {
                    cem_id : cem_id
                },
                success     : function(e){
                    let html = '<option >请选择</option>';
                    for (i in e) {
                        html += '<option ';
                        if (_select_id == e[i]['id']) {
                            html += 'selected';
                        }
                        html += ' value="'+e[i]['id']+'">'+e[i]['title']+'</option>';
                    }
                    form.find('.cem_area_id_c').html(html);
                },
                error       : function () {

                },
            });
        }
    }
     function get_areass (_this, _select_id) {
        // var _select_id = _select_id ? _select_id : 0;
        let cem_id = _this.val();
        let form = _this.parents('form');
        if (cem_id) {
            $.ajax({
                type        : 'GET',
                url         : '{:url('sysjcw_wlist_l')}',
                dataType    : 'json',
                data        : {
                    cem_id : cem_id
                },
                success     : function(e){
                    let html = '<option >请选择</option>';
                    for (i in e) {
                        html += '<option ';
                        if (_select_id == e[i]['id']) {
                            html += 'selected';
                        }
                        html += ' value="'+e[i]['id']+'">'+e[i]['title']+'</option>';
                    }
                    form.find('.syslxid').html(html);
                },
                error       : function () {

                },
            });
        }
    }
    $('.cem_id').change(function(){
        get_area($(this), '-1');
    });
    $(".cem_area_id").change(function(){
        get_areas($(this), '-1');
    });
    $(".sysysid").change(function(){
        get_areass($(this), '-1');
    });
</script>
<script type="text/javascript">
    $('.wlist tr').click(function(){
        $(".add_row .row_img").attr('src', $(this).attr('row_thumb'));
        $(".add_row .row_thumb").attr('src', $(this).attr('row_thumb'));
        $(".add_row .row_id").val($(this).attr('row_id'));
        $(".add_row .row_title").val($(this).find('.title').text());
        $(".add_row .row_desc").val($(this).find('.desc').text());
    });
</script>
<script type="text/javascript">
$('.row_del').click(function(){
    var row_id = $(".add_row .row_id").val();
    if (row_id && confirm('确认删除?')) {
        $.ajax({
            type        : 'GET',
            url         : '{:url('sysjc_del')}',
            dataType    : 'json',
            data        : {
                id : row_id
            },
            success     : function(e){
                if (e.status) {
                    $('.tr_' + row_id).remove();
                } else {
                    alt(e.msg);
                }


            },
            error       : function () {

            },
        });
    }
});
</script>