<style type="text/css">
   @page {
      size: auto;  /* auto is the initial value */
      margin: 0mm; /* this affects the margin in the printer settings */
    }
</style>
<div class="cont">
<form>
    <fieldset>
       <legend>筛选条件选择</legend>              
       <div class="conta">
          <p>选择墓园</p>
          <p>选择墓区</p>
          <p>选择墓排</p>
          <p>选择安葬日期</p>
          <p>查询结果数量：0个，打印页数为：0页</p>
          <p>选择打印第几页</p>
       </div>
       <div class="contb">
       <select name="cem_id" class="cem_id">
        <option value="0">请选择</option>
        {foreach $cem_list as $k => $vo}
             <option value="{$vo.id}">{$vo.title}</option>
        {/foreach}
     </select>
       <select name="cem_area_id" class="cem_area_id">
       <option value="0">请选择</option>
       </select> 
       <select name="cem_row_id" class="cem_row_id">
       <option value="0">请选择</option>
       </select>        
        <input class="Wdate xiaostime" id="starttime" value="<?php echo date('Y-m-d',time())?>" type="text" onclick="WdatePicker()" style="outline: 0;font-size: 14px;color: #000;float: left;margin-left: 10px;width:100px;">
        <input type="hidden" id="typesta">
        <button type="button" class=" contc show_one">显示选定信息</button>
        <button type="button" class=" contc show_all">显示全部安葬日提醒信息</button>
        <button type="button" class=" contc show_print">打印安葬日提醒信息</button>
        <!-- <div class="contye">
          <span>1</span>
          <span>2</span>
          <span>3</span>
          <span>4</span>
        </div> -->
       </div>
    </fieldset>
    
  </form>
  <div class="conbiao">
    <table class="table table-bordered">
      <!--<caption>边框表格布局</caption>-->
      <thead>
        <tr>                 
          <th>墓位全称</th>                 
          <th>故者姓名</th>
          <th>安葬类别</th>
          <th>安葬日期</th>             
          <th>圆坟日期</th>
        </tr>
      </thead>
      <tbody class="add_row">
      </tbody>
    </table>
  </div>
</div>
<script src="__JS__/layer/layer.js"></script>
<script language="javascript" type="text/javascript" src="__JS__/My97DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="__JS__/jQuery.print.js"></script>
<script type="text/javascript">
$(".show_print").click(function(){
    var html = layer.load(1, {
      shade: [0.5] //0.1透明度的白色背景
    });
    var typesta=$("#typesta").val();
    var cem_id=$(".cem_id option:selected").val();
    var cem_area_id=$(".cem_area_id option:selected").val();
    var cem_row_id=$(".cem_row_id option:selected").val();
    var starttime=$("#starttime").val();
    if(typesta){
      $.ajax({
          type        : 'post',
          url         : "{:url('select_print')}",
          dataType    : 'json',
          data        : {
              type : 10,
              cem_id : cem_id,
              cem_area_id : cem_area_id,
              cem_row_id : cem_row_id,
              typesta:typesta,
              starttime:starttime,
          },
          success     : function(g){
              layer.close(html);
              //页面层
              vhtml1=layer.open({
                type: 1,
                title: '打印安葬日提醒信息', //不显示标题
                skin: 'layui-layer-rim', //加上边框
                area: ['100%', '100%'], //宽高
                content: g
              });
          }
      });
    }else{
      layer.close(html);
      layer.msg('没有下葬信息');
    }
});
function clo(){
        layer.close(vhtml1);
    }
function show_print_azset(){
  $("#ele10").print();
}
$(".show_all").click(function(){
    var imgshtml = layer.load(1, {
      shade: [0.5] //0.1透明度的白色背景
    });
    $("#typesta").val('3');
     $(".trtr").remove();
      $.ajax({        
          type        : 'post',
          url         : '{:url('select_azset_list_all')}',
          dataType    : 'json',
          data        : {},
          success     : function(g){
            layer.close(imgshtml);
            $(".add_row").append(g);
          }
      });
  })
  $(".show_one").click(function(){
    var imgshtml = layer.load(1, {
      shade: [0.5] //0.1透明度的白色背景
    });
    $("#typesta").val('2');
     $(".trtr").remove();
      var cem_id=$(".cem_id option:selected").val();
      var cem_area_id=$(".cem_area_id option:selected").val();
      var cem_row_id=$(".cem_row_id option:selected").val();
      var starttime=$("#starttime").val();
     // if(cem_id != 0 || cem_area_id!= 0 || cem_row_id!= 0){
        $.ajax({  
            type        : 'post',
            url         : "{:url('select_azset_list')}",
            dataType    : 'json',
            data        : {
                cem_id : cem_id,
                cem_area_id : cem_area_id,
                cem_row_id : cem_row_id,
                starttime:starttime,
            },
            success     : function(g){
              layer.close(imgshtml);
              $(".add_row").append(g);
            }
        });
    //  }else{
      //  layer.close(imgshtml);
      //  layer.msg('请选择信息');
    //  }
  })
  function get_row (_this, _select_id) {
    // var _select_id = _select_id ? _select_id : 0;
    let cem_area_id = _this.val();
    let form = _this.parents('form');
    if (cem_area_id) {
        $.ajax({
            type        : 'GET',
            url         : "{:url('Cem/row_wlist')}",
            dataType    : 'json',
            data        : {
                cem_area_id : cem_area_id
            },
            success     : function(e){
                let html = '';
                for (i in e) {
                    html += '<option ';
                    if (_select_id == e[i]['id']) {
                        html += 'selected';
                    }
                    html += ' value="'+e[i]['id']+'">'+e[i]['title']+'</option>';
                }
                form.find('.cem_row_id').html(html);
                $('.show_one').trigger('click');
            },
            error       : function () {

            },
        });
    }
}
function get_area (_this, _select_id) {
    // var _select_id = _select_id ? _select_id : 0;
    let cem_id = _this.val();
    let form = _this.parents('form');
    if (cem_id) {
        $.ajax({
            type        : 'GET',
            url         : "{:url('Cem/area_wlist')}",
            dataType    : 'json',
            data        : {
                cem_id : cem_id
            },
            success     : function(e){
                let html = '';
                for (i in e) {
                    html += '<option ';
                    if (_select_id == e[i]['id']) {
                        html += 'selected';
                    }
                    html += ' value="'+e[i]['id']+'">'+e[i]['title']+'</option>';
                }
                form.find('.cem_area_id').html(html);
                 var cem_area_id = $('.cem_area_id option:selected').val();
                sjsx_ss(cem_area_id);
            },
            error       : function () {

            },
        });
    }
}

$('.cem_id').change(function(){
    get_area($(this), '-1');
});
$('.cem_area_id').change(function(){
    get_row($(this), '-1');
});
$('.cem_row_id').change(function(){
    $('.show_one').trigger('click');
});
function sjsx_ss(cem_area_id){
    $.ajax({
          type        : 'GET',
          url         : "{:url('Cem/row_wlist')}",
          dataType    : 'json',
          data        : {
              cem_area_id : cem_area_id
          },
          success     : function(e){
              let html = '';
              for (i in e) {
                  html += '<option ';
                  
                  html += ' value="'+e[i]['id']+'">'+e[i]['title']+'</option>';
              }
              $('.cem_row_id').html(html);
              $('.show_one').trigger('click');
          },
      });
  }
</script>