<link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
<link rel="stylesheet" href="__CSS__/style.css" />


 <div class="bwtan" style="display:block">
     <div class="bwtantop">碑文设置</div>
     <div class="bwtanul">
         <ul>
             <li class="bwon"><a href="#">碑文参数设置</a></li>
             <li><a href="#">碑文内容设置</a></li>
         </ul>
     </div>
     <div class="bwtancon">
         <div class="inner">
             <div class="bwtana">
                 <form>
                     <fieldset>
                         <legend>墓位信息</legend>
                         <div class="bwtanb">
                             <p>您选择的是：天福园A区6排0030号 | 墓位样式：双人墓</p>
                             <div class="bwtanc">
                                 <div>墓位长：0.87米</div>
                                 <div>墓位宽：0.78米</div>
                                 <div>墓位面积：0.6786平方</div>
                                 <div>墓位材质：花岗岩</div>
                                 <div>墓位状态：已定购</div>
                             </div>
                         </div>
                     </fieldset>
                 </form>
             </div>
             <div class="bwtand">
                 <form>
                     <fieldset>
                         <legend>碑文分项参数设置</legend>
                         <div class="bwtane">
                             <div class="bwtanea">
                                 <div class="bwtanf">
                                     <p>刻字样式：</p>
                                     <select>
                                         <option></option>
                                     </select>
                                 </div>
                                 <div class="bwtanf">
                                     <p>刻字样式：</p>
                                     <select>
                                         <option></option>
                                     </select>
                                 </div>
                                 <div class="bwtanf">
                                     <p>刻字样式：</p>
                                     <select>
                                         <option></option>
                                     </select>
                                 </div>
                             </div>
                             <div class="bwtanea">
                                 <div class="bwtanf">
                                     <p>刷金：</p>
                                     <select>
                                         <option></option>
                                     </select>
                                 </div>
                                 <div class="bwtanf">
                                     <p>贴金箔：</p>
                                     <select>
                                         <option></option>
                                     </select>
                                 </div>
                             </div>
                             <div class="bwtanea">
                                 <div class="bwtanf">
                                     <p>瓷像数量：</p>
                                     <select>
                                         <option></option>
                                     </select>
                                 </div>
                                 <div class="bwtanf">
                                     <p>瓷像颜色：</p>
                                     <select>
                                         <option></option>
                                     </select>
                                 </div>
                                 <div class="bwtanf">
                                     <p>瓷像尺寸：</p>
                                     <select>
                                         <option></option>
                                     </select>
                                 </div>
                                 <div class="bwtanf">
                                     <p>瓷像形状：</p>
                                     <select>
                                         <option></option>
                                     </select>
                                 </div>
                             </div>
                             <div class="bwtanea">
                                 <div class="bwtanf">
                                     <p>影雕数量：</p>
                                     <select>
                                         <option></option>
                                     </select>
                                 </div>
                                 <div class="bwtanf">
                                     <p>影雕形状：</p>
                                     <select>
                                         <option></option>
                                     </select>
                                 </div>
                             </div>
                         </div>
                     </fieldset>
                 </form>
             </div>
             <div class="bwtanbtn">
                 <div>修改碑文参数设置</div>
                 <div>保存碑文参数设置</div>
                 <div>取消本次设置</div>
             </div>
        </div>

         <div class="inner">
             <div class="bwtana">
                 <form>
                     <fieldset>
                         <legend>墓位信息</legend>
                         <div class="bwtanb">
                             <p>您选择的是：天福园A区6排0030号 | 墓位样式：双人墓</p>
                             <div class="bwtanc">
                                 <div>墓位长：0.87米</div>
                                 <div>墓位宽：0.78米</div>
                                 <div>墓位面积：0.6786平方</div>
                                 <div>墓位材质：花岗岩</div>
                                 <div>墓位状态：已定购</div>
                             </div>
                         </div>
                     </fieldset>
                 </form>
             </div>
             <div class="bwtantable">
                 <table class="table table-bordered">
                   <thead>
                     <tr>
                       <th>墓位证编号</th>
                       <th>墓位全称</th>
                       <th>故者姓名</th>
                       <th>故者性别</th>
                       <th>出生日期（公历）</th>
                       <th>出生日期（农历）</th>
                       <th>原籍</th>
                       <th>工作单位</th>
                       <th>逝世日期（公历）</th>
                       <th>逝世日期（农历）</th>
                       <th>下葬日期（公历）</th>
                       <th>下葬日期（公历）</th>
                       <th>操作员姓名</th>
                       <th>出生日期显示</th>
                       <th>逝世日期显示</th>
                       <th>下葬日期显示</th>
                       <th>备注</th>
                       <th>逝世日期（农历数字）</th>
                       <th>落葬状态</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                     </tr>
                   </tbody>
                 </table>
             </div>
             <div class="bwtannr">
                 <form>
                     <fieldset>
                         <legend>碑文内容设置</legend>
                         <div class="bwnra">
                             <div class="bwnraa">
                                 <div class="bwnrab">
                                     <p>母姓名：</p>
                                     <input type="text" />
                                 </div>
                                 <div class="bwnrac">
                                     <p>父姓名：</p>
                                     <input type="text" />
                                 </div>
                             </div>
                             <div class="bwnrad">
                                 <p>原籍：</p>
                                 <input type="text" />
                             </div>
                             <div class="bwnrae">
                                 <p class="bwnrp"></p>
                                 <p>年</p>
                                 <p>月</p>
                                 <p>日</p>
                             </div>
                             <div class="bwnraf">
                                 <p>安葬日期：</p>
                                 <input type="text" />
                                 <input type="text" />
                                 <input type="text" />
                             </div>
                             <div class="bwnrag">
                                 <p>背面碑文内容：</p>
                                 <textarea></textarea>
                             </div>
                         </div>
                         <div class="bwnrb">
                             <div class="bwnrba">
                                 <p class="bwnrbap"></p>
                                 <p>年</p>
                                 <p>月</p>
                                 <p>日</p>
                             </div>
                             <div class="bwnrbb">
                                 <p>母生于：</p>
                                 <input type="text" />
                                 <input type="text" />
                                 <input type="text" />
                             </div>
                             <div class="bwnrbb">
                                 <p>母故于：</p>
                                 <input type="text" />
                                 <input type="text" />
                                 <input type="text" />
                             </div>
                             <div class="bwnrbb">
                                 <p>父生于：</p>
                                 <input type="text" />
                                 <input type="text" />
                                 <input type="text" />
                             </div>
                             <div class="bwnrbb">
                                 <p>父故于：</p>
                                 <input type="text" />
                                 <input type="text" />
                                 <input type="text" />
                             </div>
                             <div class="bwnrbc">
                                <div class="bwnrbcle">
                                   <p>叩立：</p>
                                   <textarea></textarea>
                                </div>
                                <div class="bwnrbcri">
                                   <p>备注：</p>
                                   <textarea></textarea>
                                </div>
                             </div>
                         </div>
                         <div class="bwnrc">
                             <div class="bwnrca">
                                 <div>打印传统碑文登记表（正）</div>
                                 <div>打印传统碑文登记表（反）</div>
                             </div>
                             <div class="bwnrca">
                                 <div>打印现代碑文登记表（正）</div>
                                 <div>打印现代碑文登记表（反）</div>
                             </div>
                             <div class="bwnrca">
                                 <div>保存碑文内容</div>
                                 <div>填写碑文杂费单</div>
                             </div>
                         </div>
                     </fieldset>
                 </form>
             </div>
         </div>
     </div>
 </div>
 <!---------------------------点击故者落葬登记弹出--------------------------------------->
  <div class="gztan">
     <div class="gztantop">故者落葬登记</div>
     <div class="gztana">
         <form>
             <fieldset>
                 <legend>故者落葬信息</legend>
                 <div class="gztanb">
                     <div class="gztanba">
                         <p>墓位全称：</p>
                         <input type="text" value="天福园A区1排0031号"/>
                     </div>
                     <div class="gztanbb">
                         <p>证书编号：</p>
                         <input type="text" value="Cem201806210031"/>
                         <i>*</i>
                     </div>
                     <div class="gztanbc">
                         <p>定购日期：</p>
                         <select>
                             <option>2009年3月28日</option>
                         </select>
                     </div>
                 </div>
                 <div class="gztanc">
                     <div class="gztanca">
                         <p>故者姓名：</p>
                         <input type="text" />
                         <i>*</i>
                     </div>
                     <div class="gztancb">
                         <p>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</p>
                         <select>
                             <option>男</option>
                             <option>女</option>
                         </select>
                         <i>*</i>
                     </div>
                     <div class="gztancc">
                         <p>使用开始：</p>
                         <select>
                             <option>2009年3月28日</option>
                         </select>
                     </div>
                 </div>
                 <div class="gztand">
                     <div class="gztanda">
                         <p>工作单位：</p>
                         <input type="text" value="天福园A区1排0031号"/>
                     </div>
                     <div class="gztandb">
                         <p>原&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;籍：</p>
                         <input type="text" value="Cem201806210031"/>
                     </div>
                     <div class="gztandc">
                         <p>使用结束：</p>
                         <select>
                             <option>2009年3月28日</option>
                         </select>
                     </div>
                 </div>
                 <div class="gztane">
                     <div class="gztanea">
                         <p>出生日期：</p>
                         <select>
                             <option>2018年6月21日</option>
                         </select>
                         <b>（公历）</b>
                     </div>
                     <div class="gztaneb">
                         <p>逝世日期：</p>
                         <select>
                             <option>2018年6月21日</option>
                         </select>
                         <b>（公历）</b>
                     </div>
                     <div class="gztanec">
                         <p>落葬日期：</p>
                         <select>
                             <option>2018年6月21日</option>
                         </select>
                         <b>（公历）</b>
                     </div>
                 </div>
                 <div class="gztanf">
                     <div class="gztanfa">
                         <p>出生日期：</p>
                         <input type="text" />
                         <b>（农历）</b>
                     </div>
                     <div class="gztanfb">
                         <p>逝世日期：</p>
                         <input type="text" />
                         <b>（农历）</b>
                     </div>
                     <div class="gztanfc">
                         <p>落葬日期：</p>
                         <input type="text" />
                         <b>（农历）</b>
                     </div>
                 </div>
                 <div class="gztang">
                     <div class="gztanga">
                         <select>
                             <option></option>
                         </select>
                     </div>
                     <div class="gztangb">
                         <select>
                             <option>2018年6月21日</option>
                         </select>
                         <p>（农历数字，用于祭祀日提醒）</p>
                     </div>
                     <div class="gztangc">
                         <select>
                             <option></option>
                         </select>
                     </div>
                 </div>
                 <div class="gztanh">
                     <div class="gztanha">
                         <select>
                             <option></option>
                         </select>
                     </div>
                 </div>
             </fieldset>
         </form>
     </div>
     <div class="gztanj">
         <div class="gztanjle">
             <div class="gztanja">
                 <form>
                     <fieldset>
                         <legend>联系人信息</legend>
                         <div class="gztanjc">
                             <div class="gztanjca">
                                 <p>联系人姓名：</p>
                                 <input type="text" value="贾永庆"/>
                                 <i>*</i>
                             </div>
                             <div class="gztanjcb">
                                 <p>故者关系：</p>
                                 <select>
                                     <option>其他</option>
                                 </select>
                                 <i>*</i>
                             </div>
                         </div>
                         <div class="gztanjd">
                             <div class="gztanjda">
                                 <p>身份证号：</p>
                                 <input type="text" value="23010219560123101x"/>
                                 <i>*</i>
                             </div>
                             <div class="gztanjdb">
                                 <p>性别：</p>
                                 <select>
                                     <option>男</option>
                                     <option>女</option>
                                 </select>
                                 <i>*</i>
                             </div>
                         </div>
                         <div class="gztanje">
                             <div class="gztanjea">
                                 <p>联系电话：</p>
                                 <input type="text" value="84655402"/>
                                 <i>*</i>
                             </div>
                             <div class="gztanjeb">
                                 <p>手机：</p>
                                 <input type="text" value="13101662496"/>
                                 <i></i>
                             </div>
                         </div>
                         <div class="gztanjf">
                             <div class="gztanjfa">
                                 <p>电子邮件：</p>
                                 <input type="text" />
                                 <i></i>
                             </div>
                             <div class="gztanjfb">
                                 <p>邮政编码：</p>
                                 <input type="text" value="150010"/>
                                 <i>*</i>
                             </div>
                         </div>
                         <div class="gztanjg">
                             <div class="gztanjga">
                                 <p>工作单位：</p>
                                 <input type="text" />
                             </div>
                         </div>
                         <div class="gztanjh">
                             <div class="gztanjha">
                                 <p>家庭住址：</p>
                                 <input type="text" />
                             </div>
                         </div>
                     </fieldset>
                 </form>
             </div>
             <div class="gztanjb">
                 <form>
                     <fieldset>
                         <legend>操作提示</legend>
                     </fieldset>
                 </form>
             </div>
         </div>
         <div class="gztanjri">
             <form>
                 <fieldset>
                     <legend>故者落葬操作信息</legend>
                     <div class="gztanjria">
                          <p>业务员：</p>
                          <input type="text" value="锁定王爽"/>
                          <i>*</i>
                     </div>
                     <div class="gztanjrib">
                          <p>操作员：</p>
                          <input type="text" value="锁定王爽"/>
                          <i>*</i>
                     </div>
                     <div class="gztanjric">
                           <p>备注：</p>
                           <textarea></textarea>
                     </div>
                     <div class="gztanjrid">
                         <div class="gztanjrida">保存</div>
                         <div class="gztanjridb">取消</div>
                     </div>
                     <div class="gztanjrie" onclick="sfz()">查看身份证扫描件</div>
                     <div class="gztanjrif">打印墓位档案表</div>
                 </fieldset>
             </form>
         </div>
     </div>
     <!---------------------------点击查看身份证扫描件弹出--------------------------------------->
     <div class="gztank">
         <div class="gzclose" onclick="$('.gztank').hide()">X</div>
         <div class="gztanktop">购墓联系人身份证设置</div>
         <div class="gztanka">
             <div class="gztankle">
                 <form>
                     <fieldset>
                         <legend>选择身份证图片</legend>
                         <div class="gztankimg">
                             <img />
                         </div>
                     </fieldset>
                 </form>
             </div>
             <div class="gztankri">
                 <div class="gztankria">选择联系人身份证图片</div>
                 <div class="gztankrib">保存图片</div>
             </div>
         </div>
     </div>
  </div>
 <!---------------------------点击续交管理费弹出--------------------------------------->
  <div class="xjglftan">
     <div class="gztantop">续交管理费</div>
     <div class="gztana">
         <form>
             <fieldset>
                 <legend>墓位定购信息</legend>
                 <div class="gltana">
                     <div class="gltanaa">
                         <p>墓位全称：</p>
                         <input type="text" value="天福园A区1排0031号"/>
                     </div>
                     <div class="gltanab">
                         <p>墓位费：</p>
                         <input type="text" value=""/>
                     </div>
                     <div class="gltanac">
                         <p>定购日期：</p>
                         <select>
                             <option>2009年3月28日</option>
                         </select>
                     </div>
                 </div>
                 <div class="gltanb">
                     <div class="gltanba">
                         <p>已付管理费总额：</p>
                         <input type="text" value="0.00"/>
                     </div>
                     <div class="gltanbb">
                         <p>已付款总额：</p>
                         <input type="text" value="8,900.00"/>
                     </div>
                     <div class="gltanbc">
                         <p>使用开始：</p>
                         <select>
                             <option>2009年3月28日</option>
                         </select>
                     </div>
                 </div>
                 <div class="gltanc">
                     <div class="gltanca">
                         <p>管理费到期时间：</p>
                         <input type="text" value="0.00"/>
                     </div>
                     <div class="gltancb">
                         <p>本次续交：</p>
                         <input type="text" value="0" class="gltancba"/>
                         <em>X</em>
                         <input type="text" value="0" class="gltancbb"/>
                         <b>年=</b>
                         <input type="text" value="0" class="gltancbc"/>
                     </div>
                     <div class="gltancc">
                         <p>使用结束：</p>
                         <select>
                             <option>2009年3月28日</option>
                         </select>
                     </div>
                 </div>
             </fieldset>
         </form>
     </div>
     <div class="gztanj">
         <div class="gztanjle">
             <div class="gztanja">
                 <form>
                     <fieldset>
                         <legend>联系人信息</legend>
                         <div class="gztanjc">
                             <div class="gztanjca">
                                 <p>联系人姓名：</p>
                                 <input type="text" value="贾永庆"/>
                                 <i>*</i>
                             </div>
                             <div class="gztanjcb">
                                 <p>故者关系：</p>
                                 <select>
                                     <option>其他</option>
                                 </select>
                                 <i>*</i>
                             </div>
                         </div>
                         <div class="gztanjd">
                             <div class="gztanjda">
                                 <p>身份证号：</p>
                                 <input type="text" value="23010219560123101x"/>
                                 <i>*</i>
                             </div>
                             <div class="gztanjdb">
                                 <p>性别：</p>
                                 <select>
                                     <option>男</option>
                                     <option>女</option>
                                 </select>
                                 <i>*</i>
                             </div>
                         </div>
                         <div class="gztanje">
                             <div class="gztanjea">
                                 <p>联系电话：</p>
                                 <input type="text" value="84655402"/>
                                 <i>*</i>
                             </div>
                             <div class="gztanjeb">
                                 <p>手机：</p>
                                 <input type="text" value="13101662496"/>
                                 <i></i>
                             </div>
                         </div>
                         <div class="gztanjg">
                             <div class="gztanjga">
                                 <p>工作单位：</p>
                                 <input type="text" />
                             </div>
                         </div>
                         <div class="gztanjgs">
                             <div class="gztanjgas">
                                 <p>电子邮件：</p>
                                 <input type="text" />
                             </div>
                         </div>
                         <div class="gztanjh">
                             <div class="gztanjha">
                                 <p>家庭住址：</p>
                                 <input type="text" />
                             </div>
                         </div>
                     </fieldset>
                 </form>
             </div>
         </div>
         <div class="gztanjri">
             <form>
                 <fieldset>
                     <legend>故者落葬操作信息</legend>
                     <div class="gztanjria">
                          <p>业务员：</p>
                          <input type="text" value="锁定王爽"/>
                          <i>*</i>
                     </div>
                     <div class="gztanjric">
                           <p>备注：</p>
                           <textarea></textarea>
                     </div>
                     <div class="gztanjrid">
                         <div class="gztanjrida">保存</div>
                         <div class="gztanjridb">取消</div>
                     </div>
                 </fieldset>
             </form>
         </div>
     </div>
     <div class="gztani">
         <form>
             <fieldset>
                 <legend>操作提示</legend>
             </fieldset>
         </form>
     </div>
  </div>
 <!--
