<link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
<link rel="stylesheet" href="__CSS__/style.css" />
<div class="tanc" style="display:block">
    <div class="tantop">墓位定购信息维护</div>
    <div class="tanf">
        <form>
            <fieldset>
                <legend>墓位信息</legend>
                <div class="tanfa">
                    <p>您选择的是：天福园A区1排0030号|墓位样式：双人墓</p>
                    <div class="tanfb">
                        <div>墓位长：0.87米</div>
                        <div>墓位宽：0.78米</div>
                        <div>墓位面积：0.6786平方</div>
                        <div>墓位材质：G628</div>
                        <div>墓位状态：已定购</div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="tang">
        <form>
            <fieldset>
                <legend>墓位定购信息</legend>
                <div class="tanga">
                    <div class="tangb">
                        <div>墓位费：8,900.00元</div>
                        <div>应付（已付）管理费总额：0.00元</div>
                        <div>应付（已付）款总额：8,900.00元</div>
                        <div>是否已交费：已付款</div>
                        <div>使用开始日期：2009-03-28</div>
                    </div>
                    <div class="tangc">
                        <div>联系人：贾永庆</div>
                        <div>身份证：23010219560123101X</div>
                        <div>联系电话：84655402</div>
                        <div>购墓日期：2009-03-28</div>
                        <div>使用结束日期：2029-03-28</div>
                    </div>
                    <div class="tangd">
                        <div class="tanfgda">
                            <p>备注：</p>
                            <div>保存备注</div>
                        </div>
                        <textarea></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="tanh">
        <div class="tanha">
            <p>当前墓位已下葬故者：0条记录</p>
            <div>刷新故者信息</div>
            <div onclick="gzdj()">故者落葬登记</div>
            <div onclick="xjglf()">续交管理费</div>
            <div>墓位退订</div>
            <div>墓位还原</div>
        </div>
        <div class="tanhb">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>墓位证编号</th>
                  <th>墓位全称</th>
                  <th>故者姓名</th>
                  <th>故者性别</th>
                  <th>出生日期（公历）</th>
                  <th>出生日期（农历）</th>
                  <th>原籍</th>
                  <th>工作单位</th>
                  <th>逝世日期（公历）</th>
                  <th>逝世日期（农历）</th>
                  <th>下葬日期（公历）</th>
                  <th>下葬日期（公历）</th>
                  <th>操作员姓名</th>
                  <th>出生日期显示</th>
                  <th>逝世日期显示</th>
                  <th>下葬日期显示</th>
                  <th>备注</th>
                  <th>逝世日期（农历数字）</th>
                  <th>落葬状态</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="tank">
        <div>打印购墓合同（正）</div>
        <div>打印购墓合同（反）</div>
        <div>打印墓位档案表</div>
        <div onclick="bwtc()">墓位碑文设置</div>
        <div>打印墓位证（正）</div>
        <div>打印墓位证（反）</div>
        <div>打印墓位证（定购信息）</div>
        <div>打印墓位证（落葬信息）</div>
        <div>保存购物合同图片</div>
        <div>墓位证计数</div>
        <div>关闭本窗体</div>
    </div>
</div>
