<link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
<link rel="stylesheet" href="__CSS__/style.css" />
<div class="ydtan" style="display:block;">
    <div class="ydtantop">墓位预订维护</div>
    <div class="tanfs">
        <form>
            <fieldset>
                <legend>墓位信息</legend>
                <div class="tanfsa">
                    <p>您选择的是：天福园家族墓A区w座|墓位样式：家族墓</p>
                    <div class="tanfsb">
                        <div>墓位长：31米</div>
                        <div>墓位宽：3米</div>
                        <div>价格：480,000.00</div>
                        <div>墓位材质：花岗岩</div>
                        <div>墓位状态：已预订</div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="tangs">
        <form>
            <fieldset>
                <legend>墓位定购信息</legend>
                <div class="tangsa">
                    <div class="tangsb">
                        <div>墓位费：8,900.00元</div>
                        <div>应付（已付）管理费总额：0.00元</div>
                        <div>应付（已付）款总额：8,900.00元</div>
                        <div>是否已交费：已付款</div>
                        <div>使用开始日期：2009-03-28</div>
                    </div>
                    <div class="tangsc">
                        <div>联系人：贾永庆</div>
                        <div>身份证：23010219560123101X</div>
                        <div>联系电话：84655402</div>
                        <div>购墓日期：2009-03-28</div>
                        <div>使用结束日期：2029-03-28</div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="ydtana">
        <div class="ydtanb">
            <div onclick="window.parent._tc2_show();">修改预订墓位信息</div>
            <div>交清余款（购墓）</div>
            <div onclick="window.parent.setqx()">取消预订</div>
        </div>
        <div class="ydtanc">退出</div>
    </div>
</div>
