<link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
<link rel="stylesheet" href="__CSS__/style.css" />
<div class="whtan" style="display:block;">
    <div class="whtantop">墓位预订信息维护</div>
    <div class="whtana">
        <form>
            <fieldset>
                <legend>墓位预订信息</legend>
                <div class="whtanb">
                    <div class="whtand">
                        <p>墓位全称：</p>
                        <input type="text" value="天福园家族墓A区W座" />
                        <i></i>
                    </div>
                    <div class="whtand">
                        <p>预定日期：</p>
                        <select>
                            <option>2015年12月24日</option>
                        </select>
                        <i></i>
                    </div>
                    <div class="whtand">
                        <p>提醒日期：</p>
                        <select>
                            <option>2015年12月24日</option>
                        </select>
                        <i></i>
                    </div>
                </div>
                <div class="whtanb">
                    <div class="whtand">
                        <p>原始价格：</p>
                        <input type="text" value="480,000.00" />
                        <i></i>
                    </div>
                    <div class="whtand">
                        <p>成交价格：</p>
                        <input type="text" value="0.00" />
                        <i>*</i>
                    </div>
                    <div class="whtand">
                        <p>预订金额：</p>
                        <input type="text" value="0.00" />
                        <i>*</i>
                    </div>
                </div>
                <div class="whtanb">
                    <div class="whtand">
                        <p>补交金额：</p>
                        <input type="text"/>
                        <i>*</i>
                    </div>
                    <div class="whtand">
                        <p>余额：</p>
                        <input type="text" value="0.00" />
                        <i>*</i>
                        <em>价格单位：（元）</em>
                    </div>

                </div>
            </fieldset>
        </form>
    </div>
    <div class="whtane">
        <div class="whtanele">
            <form>
                <fieldset>
                    <legend>联系人信息</legend>
                    <div class="whlea">
                        <div class="whleb">
                            <p>故者姓名：</p>
                            <input type="text" />
                            <i></i>
                        </div>
                        <div class="whlec">
                            <p>故者关系：</p>
                            <select>
                                <option>其他</option>
                            </select>
                            <i></i>
                        </div>
                    </div>
                    <div class="whlea">
                        <div class="whleb">
                            <p>联系人姓名：</p>
                            <input type="text" value="李强"/>
                            <i>*</i>
                        </div>
                        <div class="whlec">
                            <p>邮政编码：</p>
                            <input type="text" value="150036"/>
                            <i>*</i>
                        </div>
                    </div>
                    <div class="whlea">
                        <div class="whleb">
                            <p>身份证号：</p>
                            <input type="text" value="******************"/>
                            <i>*</i>
                        </div>
                        <div class="whlec">
                            <p>性别：</p>
                            <select>
                                <option>男</option>
                            </select>
                            <i>*</i>
                        </div>
                    </div>
                    <div class="whlea">
                        <div class="whleb">
                            <p>联系电话：</p>
                            <input type="text" value="15561864444"/>
                            <i>*</i>
                        </div>
                        <div class="whlec">
                            <p>手机：</p>
                            <input type="text" value="15904611271"/>
                            <i></i>
                        </div>
                    </div>
                    <div class="whlea">
                        <div class="whleb">
                            <p>工作单位：</p>
                            <input type="text"/>
                            <i></i>
                        </div>
                    </div>
                    <div class="whlea">
                        <div class="whleb">
                            <p>电子邮件：</p>
                            <input type="text"/>
                            <i></i>
                        </div>
                    </div>
                    <div class="whlea">
                        <div class="whleb">
                            <p>家庭住址：</p>
                            <input type="text"/>
                            <i></i>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="whtaneri">
            <form>
                <fieldset>
                    <legend>墓位预订操作信息</legend>
                    <div class="whtanyw">
                        <p>业务员：</p>
                        <input type="text" value="张巍"/>
                        <i>*</i>
                    </div>
                    <div class="whtanyw">
                        <p>操作员：</p>
                        <select>
                            <option>张巍</option>
                        </select>
                        <i>*</i>
                    </div>
                    <div class="whtanbz">
                        <p>备注：</p>
                        <textarea></textarea>
                    </div>
                    <div class="whtanbc">
                        <div class="whtanbca">保存</div>
                        <div class="whtanbcb">取消</div>
                    </div>
                    <div class="whtandy">打印墓位预订单</div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="whtancz">
        <form>
            <fieldset>
                <legend>操作提示</legend>
            </fieldset>
        </form>
    </div>
</div>

<!--
    作者：offline
    时间：2018-06-19
    描述：
-->
