<link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
<link rel="stylesheet" href="__CSS__/style.css" />

<div class="bwtan" style="display:block">
    <div class="bwtantop">碑文设置</div>
    <div class="bwtanul">
        <ul>
            <li class="bwon"><a href="#">碑文参数设置</a></li>
            <li><a href="#">碑文内容设置</a></li>
        </ul>
    </div>
    <div class="bwtancon">
        <div class="inner">
            <div class="bwtana">
                <form>
                    <fieldset>
                        <legend>墓位信息</legend>
                        <div class="bwtanb">
                            <p>您选择的是：天福园A区6排0030号 | 墓位样式：双人墓</p>
                            <div class="bwtanc">
                                <div>墓位长：0.87米</div>
                                <div>墓位宽：0.78米</div>
                                <div>墓位面积：0.6786平方</div>
                                <div>墓位材质：花岗岩</div>
                                <div>墓位状态：已定购</div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="bwtand">
                <form>
                    <fieldset>
                        <legend>碑文分项参数设置</legend>
                        <div class="bwtane">
                            <div class="bwtanea">
                                <div class="bwtanf">
                                    <p>刻字样式：</p>
                                    <select>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="bwtanf">
                                    <p>刻字样式：</p>
                                    <select>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="bwtanf">
                                    <p>刻字样式：</p>
                                    <select>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="bwtanea">
                                <div class="bwtanf">
                                    <p>刷金：</p>
                                    <select>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="bwtanf">
                                    <p>贴金箔：</p>
                                    <select>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="bwtanea">
                                <div class="bwtanf">
                                    <p>瓷像数量：</p>
                                    <select>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="bwtanf">
                                    <p>瓷像颜色：</p>
                                    <select>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="bwtanf">
                                    <p>瓷像尺寸：</p>
                                    <select>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="bwtanf">
                                    <p>瓷像形状：</p>
                                    <select>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="bwtanea">
                                <div class="bwtanf">
                                    <p>影雕数量：</p>
                                    <select>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="bwtanf">
                                    <p>影雕形状：</p>
                                    <select>
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="bwtanbtn">
                <div>修改碑文参数设置</div>
                <div>保存碑文参数设置</div>
                <div>取消本次设置</div>
            </div>
       </div>

        <div class="inner">
            <div class="bwtana">
                <form>
                    <fieldset>
                        <legend>墓位信息</legend>
                        <div class="bwtanb">
                            <p>您选择的是：天福园A区6排0030号 | 墓位样式：双人墓</p>
                            <div class="bwtanc">
                                <div>墓位长：0.87米</div>
                                <div>墓位宽：0.78米</div>
                                <div>墓位面积：0.6786平方</div>
                                <div>墓位材质：花岗岩</div>
                                <div>墓位状态：已定购</div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="bwtantable">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>墓位证编号</th>
                      <th>墓位全称</th>
                      <th>故者姓名</th>
                      <th>故者性别</th>
                      <th>出生日期（公历）</th>
                      <th>出生日期（农历）</th>
                      <th>原籍</th>
                      <th>工作单位</th>
                      <th>逝世日期（公历）</th>
                      <th>逝世日期（农历）</th>
                      <th>下葬日期（公历）</th>
                      <th>下葬日期（公历）</th>
                      <th>操作员姓名</th>
                      <th>出生日期显示</th>
                      <th>逝世日期显示</th>
                      <th>下葬日期显示</th>
                      <th>备注</th>
                      <th>逝世日期（农历数字）</th>
                      <th>落葬状态</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cem201001210001</td>
                      <td>天福园A区1排0001</td>
                      <td>范富财</td>
                      <td>男</td>
                      <td>1937-8-10</td>
                      <td></td>
                      <td>黑龙江省林甸县</td>
                      <td></td>
                      <td>2004-3-18</td>
                      <td></td>
                      <td>2008-8-9</td>
                      <td></td>
                      <td>锁定王爽</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td></td>
                      <td>2012-02-16 9:25</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>Cem201511290001</td>
                      <td>天福园A区1排0001</td>
                      <td>李秀艳</td>
                      <td>女</td>
                      <td>1941-7-20</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>2015-11-28</td>
                      <td></td>
                      <td>2015-11-30</td>
                      <td></td>
                      <td>锁定王爽</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td></td>
                      <td>2015-11-29 9:29</td>
                      <td>0</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="bwtantable">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>母姓名</th>
                      <th>父姓名</th>
                      <th>籍贯</th>
                      <th>落葬日期</th>
                      <th>母生于</th>
                      <th>母故于</th>
                      <th>父生于</th>
                      <th>父故于</th>
                      <th>碑文内容</th>
                      <th>叩立</th>
                      <th>碑文备注</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>李秀艳</td>
                      <td>范富杰</td>
                      <td>黑龙江省林甸县</td>
                      <td>年月日</td>
                      <td>一九四一年七月二十日</td>
                      <td>二零一五年十一月二十八日</td>
                      <td>年月日</td>
                      <td>年月日</td>
                      <td>九泉有灵佑</td>
                      <td>儿女</td>
                      <td>补贴金箔</td>
                    </tr>

                  </tbody>
                </table>
            </div>

            <div class="bwtannr">
                <form>
                    <fieldset>
                        <legend>碑文内容设置</legend>
                        <div class="bwnra">
                            <div class="bwnraa">
                                <div class="bwnrab">
                                    <p>母姓名：</p>
                                    <input type="text" />
                                </div>
                                <div class="bwnrac">
                                    <p>父姓名：</p>
                                    <input type="text" />
                                </div>
                            </div>
                            <div class="bwnrad">
                                <p>原籍：</p>
                                <input type="text" />
                            </div>
                            <div class="bwnrae">
                                <p class="bwnrp"></p>
                                <p>年</p>
                                <p>月</p>
                                <p>日</p>
                            </div>
                            <div class="bwnraf">
                                <p>安葬日期：</p>
                                <input type="text" />
                                <input type="text" />
                                <input type="text" />
                            </div>
                            <div class="bwnrag">
                                <p>背面碑文内容：</p>
                                <textarea></textarea>
                            </div>
                        </div>
                        <div class="bwnrb">
                            <div class="bwnrba">
                                <p class="bwnrbap"></p>
                                <p>年</p>
                                <p>月</p>
                                <p>日</p>
                            </div>
                            <div class="bwnrbb">
                                <p>母生于：</p>
                                <input type="text" />
                                <input type="text" />
                                <input type="text" />
                            </div>
                            <div class="bwnrbb">
                                <p>母故于：</p>
                                <input type="text" />
                                <input type="text" />
                                <input type="text" />
                            </div>
                            <div class="bwnrbb">
                                <p>父生于：</p>
                                <input type="text" />
                                <input type="text" />
                                <input type="text" />
                            </div>
                            <div class="bwnrbb">
                                <p>父故于：</p>
                                <input type="text" />
                                <input type="text" />
                                <input type="text" />
                            </div>
                            <div class="bwnrbc">
                               <div class="bwnrbcle">
                                  <p>叩立：</p>
                                  <textarea></textarea>
                               </div>
                               <div class="bwnrbcri">
                                  <p>备注：</p>
                                  <textarea></textarea>
                               </div>
                            </div>
                        </div>
                        <div class="bwnrc">
                            <div class="bwnrca">
                                <div>打印传统碑文登记表（正）</div>
                                <div>打印传统碑文登记表（反）</div>
                            </div>
                            <div class="bwnrca">
                                <div>打印现代碑文登记表（正）</div>
                                <div>打印现代碑文登记表（反）</div>
                            </div>
                            <div class="bwnrca">
                                <div>保存碑文内容</div>
                                <div>填写碑文杂费单</div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!--
    作者：offline
    时间：2018-06-15
    描述：
-->
