<div class="cont">
  <form class="add_row">
    <fieldset>
      <legend>墓位范围</legend>
      
       <div class="conta">
          <p>选择墓园</p>
          <p>选择墓区</p>
          <p>选择墓排</p>
          
         
       </div>
       <div class="contb">
          <select name="cem_id" class="cem_id">
             <option value="">请选择</option>
             {foreach $cem_list as $k => $vo}
                  <option value="{$vo.id}">{$vo.title}</option>
             {/foreach}
          </select>
         <select name="cem_area_id" class="cem_area_id">
               <option value="0">请选择</option>
          </select>
          <select name="cem_row_id" class="cem_row_id">
             <option value="0">请选择</option>
          </select>               
        <button type="button" class="contc show_all">显示全部墓位定购信息</button>
       </div>
    </fieldset>
    
  </form>
  <div class="conbiao">
    <table class="table table-bordered">
      <!--<caption>边框表格布局</caption>-->
      <thead>
        <tr>
          <th>墓位全称</th>
          <th>墓位状态</th>
          <th>购墓状态</th>
          <th>是否已付费</th>
          <th>购墓日期</th>
          <th>使用开始日期</th>
          <th>使用结束日期</th>             
          <th>墓位原价</th>
          <th>实际墓位费</th>
          <th>预订金额</th>
          <th>定购应付总额</th>
          <th>年管理费</th>
          <th>管理费缴纳年数</th>
          <th>管理费缴纳总额</th>
          <th>联系人姓名</th>
          <th>故者关系名称</th>             
          <th>性别</th>
          <th>身份证号</th>
          <th>联系电话</th>
          <th>手机</th>
          <th>邮政编码</th>
          <th>家庭住址</th>
          <th>工作单位</th>
          <th>电子邮件</th>
          <th>备注</th>
          <th>操作员</th>  
          <th>业务员</th>
          <th>合同编号</th>
        </tr>
      </thead>
      <tbody class="wlist">
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
$(function(){
  $('.show_all').trigger("click");
})
$('.show_all').click(function(){
  $(".wlistall").remove();
    var cem_id = $('.add_row').find('.cem_id').val();
    var cem_area_id = $('.add_row').find('.cem_area_id').val();
    var cem_row_id = $('.add_row').find('.cem_row_id').val();
    $.ajax({
        type        : 'POST',
        url         : '{:url('Finan/muweist_sell_all')}',
        data        : {
            cem_id : cem_id,
            cem_area_id : cem_area_id,
            cem_row_id : cem_row_id,
        },
        success     : function(e){
            $('.wlist').html(e);
        },
    });

});
function get_row (_this, _select_id) {
  // var _select_id = _select_id ? _select_id : 0;
  let cem_area_id = _this.val();
  let form = _this.parents('form');
  if (cem_area_id) {
      $.ajax({
          type        : 'GET',
          url         : '{:url('Cem/row_wlist')}',
          dataType    : 'json',
          data        : {
              cem_area_id : cem_area_id
          },
          success     : function(e){
              let html = '';
              for (i in e) {
                  html += '<option ';
                  if (_select_id == e[i]['id']) {
                      html += 'selected';
                  }
                  html += ' value="'+e[i]['id']+'">'+e[i]['title']+'</option>';
              }
              form.find('.cem_row_id').html(html);
              $('.show_all').trigger('click');
          },
          error       : function () {

          },
      });
  }
}
function get_area (_this, _select_id) {
  // var _select_id = _select_id ? _select_id : 0;
  let cem_id = _this.val();
  let form = _this.parents('form');
  if (cem_id) {
      $.ajax({
          type        : 'GET',
          url         : '{:url('Cem/area_wlist')}',
          dataType    : 'json',
          data        : {
              cem_id : cem_id
          },
          success     : function(e){
              let html = '';
              for (i in e) {
                  html += '<option ';
                  if (_select_id == e[i]['id']) {
                      html += 'selected';
                  }
                  html += ' value="'+e[i]['id']+'">'+e[i]['title']+'</option>';
              }
              form.find('.cem_area_id').html(html);
              var cem_area_id = $('.cem_area_id option:selected').val();
              sjsx_ss(cem_area_id);
          },
          error       : function () {

          },
      });
  }
}

$('.cem_id').change(function(){
  get_area($(this), '-1');
});
$('.cem_row_id').change(function(){
    $('.show_all').trigger('click');
});
$('.cem_area_id').change(function(){
  get_row($(this), '-1');
});
function sjsx_ss(cem_area_id){
  $.ajax({
        type        : 'GET',
        url         : '{:url('Cem/row_wlist')}',
        dataType    : 'json',
        data        : {
            cem_area_id : cem_area_id
        },
        success     : function(e){
            let html = '';
            for (i in e) {
                html += '<option ';
                
                html += ' value="'+e[i]['id']+'">'+e[i]['title']+'</option>';
            }
            $('.cem_row_id').html(html);
            $('.show_all').trigger('click');
        },
    });
}
</script>