<div class="cont">
    <fieldset>
      <legend>碑文杂费确认</legend>
      
       
    </fieldset>
    <div class="conbiao">
        <table class="table table-bordered">
          <!--<caption>边框表格布局</caption>-->
          <thead>
            <tr>
              <th>墓位全称</th>                      
              <th>是否已付款</th>
              <th>刻字金额</th>
              <th>贴金箔金额</th>
              <th>瓷像类型</th>                       
              <th>瓷像费用</th>
              <th>封门立碑</th>
              <th>封门立碑费用</th>
              <th>家族台阶数</th>
              <th>家族台阶费用</th>
              <th>装修材料费用</th>
              <th>不干胶费用</th>
              <th>费用总计</th>
              <th>杂费设置日期</th>                         
              <th>备注</th>
            </tr>
          </thead>
          <tbody>
          {volist name="list" id="list"}
            <tr onclick="set('{$list.id}')">
              <td>{$wlist[$list['cem_info_id']]['long_title']}</td>
              {if condition="$list['sta'] eq 2"}
                <td>已付款</td>
              {else /} 
                <td>未付款</td>
              {/if}
              <td>{$list['zk_sum']}</td>
              <td>{$list['zb_sum']}</td>
              {if condition="$list['cx_type'] eq 2"}
                <td>单人</td>
              {else /} 
                <td>双人</td>
              {/if}
              <td>{$list['cx_sum']}</td>
              {if condition="$list['lb_type'] eq 2"}
                <td>首次</td>
              {else /} 
                <td>二次</td>
              {/if}
              <td>{$list['lb_sum']}</td> 
              <td>{$list['tj_num']}</td>
              <td>{$list['tj_sum']}</td>
              <td>{$list['zs_sum']}</td>  
              <td>{$list['bzj_sum']}</td>
              <td>{$list['sum']}</td>
              <td>{$list['ztime']|date="Y-m-d",###}</td>
              <td>{$list['z_beizhu']}--{$list['cx_beizhu']}--{$list['lb_beizhu']}--{$list['tj_beizhu']}--{$list['zs_beizhu']}--{$list['bzj_beizhu']}</td> 
            </tr>
          {/volist}
          </tbody>
        </table>
    </div>
</div>
<script src="__JS__/layer/layer.js"></script>
<script type="text/javascript">
function set(id){
   var index=layer.confirm('是否确认该收费记录？', {
      btn: ['确定','取消'] //按钮
    }, function(){
        layer.close(index);
        var ihtml = layer.load(0, {
          shade: [0.5] //0.1透明度的白色背景
        });
        $.ajax({
            type        : 'post',
            url         : '{:url('finan_set_muweiz')}',
            dataType    : 'json',
            data        : {
                id : id
            },
            success     : function(e){
                if (e == '2') {
                  layer.close(ihtml);
                  layer.msg('设置成功',{offset: '300px',time: 2000,icon: 1},function () {
                       window.location.reload();
                    });
                } else {
                  layer.close(ihtml);
                  layer.msg('设置失败',{offset: '300px',time: 2000,icon: 2},function () {
                       window.location.reload();
                    });
                }
            },
            error       : function () {

            },
        });
    }, function(){
      layer.close(index);
    });
}
</script>