<div class="cont">
          <form>
            <fieldset>
              <legend>筛选条件选择</legend>
              
               <div class="conta">
                  <p>选择墓园</p>
                  <p>选择墓区</p>
                  <p>选择墓排</p>
                  <p>查询结果数量：10989个</p>
                 
               </div>
               <div class="contb">
                   <select>
                  <option>天福园</option>
                </select>
                <select>
                  <option>A区</option>
                </select>
                <select>
                  <option>1排</option>
                </select>               
                <div class="contc">刷新</div>             
                    <div class="contc">退出</div>
               </div>
            </fieldset>
            
          </form>
          <div class="conbiao">
            <table class="table table-bordered">
              <!--<caption>边框表格布局</caption>-->
              <thead>
                <tr>
                  <th>墓位全称</th>
                  <th>墓位状态</th>
                  <th>购墓状态</th>
                  <th>是否已付费</th>
                  <th>购墓日期</th>
                  <th>使用开始日期</th>
                  <th>使用结束日期</th>             
                  <th>墓位原价</th>
                  <th>实际墓位费</th>
                  <th>预订金额</th>
                  <th>定购应付总额</th>
                  <th>年管理费</th>
                  <th>管理费缴纳年数</th>
                  <th>管理费缴纳总额</th>
                  <th>联系人姓名</th>
                  <th>故者关系名称</th>             
                  <th>性别</th>
                  <th>身份证号</th>
                  <th>联系电话</th>
                  <th>手机</th>
                  <th>邮政编码</th>
                  <th>家庭住址</th>
                  <th>工作单位</th>
                  <th>电子邮件</th>
                  <th>备注</th>
                  <th>操作员</th>  
                  <th>操作员姓名</th>
                  <th>业务员</th>
                  <th>业务员姓名</th>
                  <th>墓位号</th>  
                  <th>当日销售流水号</th>
                  <th>合同编号</th>

                </tr>
              </thead>
              <tbody>
              {volist name="list" id="vo"}
                <tr>
                  <td>{$vo['long_title']}</td>
                  <td>天祥园A区1排0009号</td>
                  <td>已下葬</td>
                  <td>刘丛礼</td>
                  <td>男</td>
                  <td>2017-1-12</td>
                  <td>已落葬</td>
                  <td>购买家属</td> 
                   <td>Cem2017010812355</td>
                  <td>天祥园A区1排0009号</td>
                  <td>已下葬</td>
                  <td>刘丛礼</td>
                  <td>男</td>
                  <td>2017-1-12</td>
                  <td>已落葬</td>
                  <td>购买家属</td> 
                   <td>Cem2017010812355</td>
                  <td>天祥园A区1排0009号</td>
                  <td>已下葬</td>
                  <td>刘丛礼</td>
                  <td>男</td>
                  <td>2017-1-12</td>
                  <td>已落葬</td>
                  <td>购买家属</td> 
                   <td>Cem2017010812355</td>
                  <td>天祥园A区1排0009号</td>
                  <td>已下葬</td>
                  <td>刘丛礼</td>
                  <td>男</td>
                 <td>天祥园A区1排0009号</td>
                  <td>已下葬</td>
                  <td>刘丛礼</td>
                </tr>
              {/volist} 
              </tbody>
            </table>
          </div>
        </div>