          <div class="shezhiys">
            <form  action="{:url('sysys_add')}" class="add_row" method="post">
              <fieldset>
                <legend>寄存位样式设置一添加</legend>
                <div class="shezhiysa">
                  <p>样式名称</p>
                 <input type="text" name="title" />
                </div>
                  <button class="contc" type="submit"> 添加</button>
              </fieldset>
              
            </form>
          </div>
          <div class="shezhiysbiao">
            <table class="table table-bordered">
              <!--<caption>边框表格布局</caption>-->
              <thead>
                <tr>
                  <th>寄存位样式编号</th>
                  <th>寄存位样式名称</th>
                  
                </tr>
              </thead>
              <tbody class="wlist">
                   {foreach $sysys as  $vo}
                        <tr class="tr_{$vo.id}" row_id = "{$vo.id}">
                          <td class = "row_sn">{$vo.id}</td>
                          <td class = "row_title">{$vo.title}</td>
                        </tr>
                    {/foreach}
              </tbody>
            </table>
          </div>
          <div class="shezhiysb">
            <form method="post" action="{:url('sysys_edit')}" class="edit_row">
              <fieldset>
                <legend>寄存位样式设置一修改</legend>
                <div class="shezhiysc">
                  <p>样式编号</p>
                 <input type="text" name="sn" class="row_sn" readonly="" />
                </div>
                  <div class="shezhiysd">
                  <p>样式名称</p>
                   <input type="text" name="title" class="row_title" />
                <input type="hidden" name="id" class="row_id" />
                </div>
                 <button class="contc" type="submit">修改</button>
                  <button class="contcys row_del" type="button">删除</button>
              </fieldset>
              
            </form>
          </div>
<script type="text/javascript">
    $('.wlist tr').click(function(){
        let tr = $(this);
        $('.edit_row').find('.row_title').val(tr.find('.row_title').text());
        $('.edit_row').find('.row_sn').val(tr.find('.row_sn').text());
        $('.edit_row').find('.row_id').val(tr.attr('row_id'));
    });
    $('.row_del').click(function(){
    var row_id = $(".edit_row .row_id").val();
    if (row_id && confirm('确认删除?')) {
        $.ajax({
            type        : 'GET',
            url         : '{:url('sysys_del')}',
            dataType    : 'json',
            data        : {
                id : row_id
            },
            success     : function(e){
                if (e.status) {
                    $('.tr_' + row_id).remove();
                } else {
                    alt(e.msg);
                }


            },
            error       : function () {

            },
        });
    }
});
</script>
<script type="text/javascript">


$(".edit_row").validate({
    rules:{
        title:{
            required:true,
        },
        id:{
            required:true,
        },

    },
    errorClass: "help-inline",
    errorElement: "div",
    highlight:function(element, errorClass, validClass) {
        $(element).parents('.control-group').addClass('error');
    },
    unhighlight: function(element, errorClass, validClass) {
        $(element).parents('.control-group').removeClass('error');
        $(element).parents('.control-group').addClass('success');
    },
    ignore : "",

});

$(".add_row").validate({
    rules:{
        title:{
            required:true,
        },
    },
    errorClass: "help-inline",
    errorElement: "div",
    highlight:function(element, errorClass, validClass) {
        $(element).parents('.control-group').addClass('error');
    },
    unhighlight: function(element, errorClass, validClass) {
        $(element).parents('.control-group').removeClass('error');
        $(element).parents('.control-group').addClass('success');
    },
    ignore : "",

});

</script>